[package]
name = "vatis"
version = "0.2.0"
authors = ["Bastiaan Schaap <bastiaan.schaap@nedap.com>"]
edition = "2018"

[dependencies]
log = "^0.4"
env_logger = "^0.7"
linux-stats = "^0.3"
paho-mqtt = "^0.6"
tokio = { version = "^0.2", features = ["full"] }
futures = "^0.3"
